
$base-background-color: #3f51b5
$text-color-header: #fff
    
.menu
    background: $base-background-color

.header_item
    color: $text-color-header

.logo
    height: 100px
    weight: 70px

.menu button
    height: 100px
    weight: 100px