




<div class="menu">
    <a _ngcontent-vjq-c1="" aria-label="Home page" class="docs-button mat-button" mat-button="" [routerLink]="[ '/' ]" tabindex="0" aria-disabled="false">
        <!-- <span class="mat-button-wrapper"></span> -->
        <img alt="Home" class="logo" src="../../assets/whitelogo.png">
        <!-- <div class="mat-button-focus-overlay"></div> -->
    </a>
      
    
    <button mat-button [routerLink]="[ 'about' ]" class="header_item">ABOUT ME</button>
  
    
    
    <button mat-button [routerLink]="[ 'projects' ]" class="header_item">PROJECTS</button>


    <button mat-button [matMenuTriggerFor]="phone" class="header_item">CONTACTS</button>

    <mat-menu #phone="matMenu">
            <button mat-menu-item>+380 66 522 9737</button>
            <small mat-menu-item>Ukraine</small>
            
            <button mat-menu-item>+48 576 765 297</button>
            <small mat-menu-item>Poland</small>
    </mat-menu>
</div>
