<footer>
    
    <div class="item"><img src="../../assets/whitelogo1.png" alt=""></div>
    <div class="item">
        <p> Developer: Ihor Bazyliuk </p>
        <div class="links">
            <a href="https://www.linkedin.com/in/ihor-bazyliuk-07520518a/">
                <img src="../../assets/linkedin.png" alt="linkedin">
            </a>
            <a href="https://t.me/funkynine">
                <img src="../../assets/telegram.png" alt="telegram">
            </a>
            <a href="https://www.facebook.com/funkynine">
                <img src="../../assets/facebook.png" alt="facebook">
            </a>
        </div>
    </div>
    <div class="item">
        <p>Contacts: +48 576-765-297</p> 
        <p>Email: igorbevz11@icloud.com</p>
    </div>

</footer>