
<main class="container">

  <div class="smallInfoAbout animation-1">
    <div class="textAbout">
      <h2>{{ page.title }}</h2>
      <p class="text-c">Hi, you went to the site of my portfolio. <br>
          My name is Ihor Bazyliuk, I'm doing front-end development. <br>
          On this site you can see examples of my work. You can also see what skills I have. <br>
          You can contact me about work here.
      </p>
      <button mat-flat-button color="primary" class="background-button">Contact me</button>
    </div>
    <div class="myPhoto">
      <img src="../../assets/photo.jpg" alt="">
    </div>
  </div>

    


  <h2 class="h2" >Skills</h2>

  <div class="skill animation-2" [class.animation-2]="checkStatus">
    <div class="item">
      <img src="../../assets/js.png" alt="js">
      <h4>JavaScript(ES6)</h4>
    </div>
    <div class="item">
      <img src="../../assets/node.dms" alt="Node JS">
      <h4>Node JS</h4>
    </div>
    <div class="item">
      <img src="../../assets/GitHub-Mark.png" alt="Git">
      <h4>Git</h4>
    </div>
    <div class="item">
      <img src="../../assets/angularIcon.png" alt="Angular">
      <h4>Angular</h4>
    </div>
  </div>

  
  <div class="myCarousel" [class.animation-3]="checkStatus">

    <h2 class="text_sl">Projects</h2>

    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Landing page for company iOne" class="item_corousel">
        <div class="carousel-caption">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide" class="item_corousel">
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide" class="item_corousel">
        <div class="carousel-caption">
          <h3>Store on Angular</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[3]" alt="Random third slide" class="item_corousel">
        <div class="carousel-caption">
          <h3>Store on Angular</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</main>
