<main class="container main">

  <div class="about">
    <div class="text">
      <h2>About me</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <img src="../../assets/photo2.png" alt="" class="personalPhoto">
  </div>

  <h2 class="text-center">Skills</h2>

  <div class="mySkills">
    <div class="skillz">
      <div class="skill">HTML5
        <div class="line" [class.line-50]='checkStatus'></div>
      </div>
      <div class="skill">CSS\Sass\Scss
        <div class="line" [class.line-50]='checkStatus'></div>
      </div>
      <div class="skill">Javascript (ES6)
        <div class="line" [class.line-45]='checkStatus'></div>
      </div>
      <div class="skill">Angular
        <div class="line" [class.line-40]='checkStatus'></div>
      </div>
      <div class="skill">Node JS
        <div class="line" [class.line-40]='checkStatus'></div>
      </div>
      <div class="skill">Express
        <div class="line" [class.line-45]='checkStatus'></div>
      </div>
      <div class="skill">Git
        <div class="line" [class.line-50]='checkStatus'></div>
      </div>
      <div class="skill">Python
        <div class="line" [class.line-40]='checkStatus'></div>
      </div>
      <div class="skill">Heroku
        <div class="line" [class.line-35]='checkStatus'></div>
      </div>
      <div class="skill">MongoDB
        <div class="line" [class.line-40]='checkStatus'></div>
      </div>
      <div class="skill">SQLite
        <div class="line" [class.line-30]='checkStatus'></div>
      </div>
      <div class="skill">MySQL
        <div class="line" [class.line-30]='checkStatus'></div>
      </div>
      <div class="skill">Mongoose
        <div class="line" [class.line-30]='checkStatus'></div>
      </div>
      <div class="skill">Photoshop
        <div class="line" [class.line-50]='checkStatus'></div>
      </div>
      <div class="skill">Final cut X PRO
        <div class="line" [class.line-45]='checkStatus'></div>
      </div>
    </div>

    <div class="pic">
      <img src="../../assets/mean.png" alt="Mean Stack" class='image-mean-1' [class.image-mean-2]='checkStatus'>
    </div>
  </div>


  <h2 class="text-center text-myPosition">My Position</h2>

  <div class="myPosition">
    <div class="text_m">
      <p>I want to create a working relationship based on trust and mutual respect.
        <br> I distribute time and energy so as not to violate the deadlines.
        Independently solve the difficulties <br> encountered in the work.
        The quality standards of our work,
        but most of all I want to learn something new and develop.
      </p>
    </div>
  </div>

  <h2 class="text-center">Work Experience</h2>

  <div class="about">
    <div class="text">
      <h3>iOne - Apple authorized reseller.</h3>
      <p>
        Development, support company product. <br>
        Communication with customers. <br>
        Instagram promotion Сontent creation. <br>
        Conducting analysis and reporting of the company.
      </p>

      <p>Technologies used: <br>
        NodeJS, Express, MongoDB, Mongoose,
        Telegram API, Bootstrap, Photoshop,
        Final Cut X Pro, jQuery, Sass, Git, Visual Studio Code.</p>
    </div>
    <img src="../../assets/logo_black.svg" alt="iOne" class="photo_iOne">
  </div>

  <div class="education">
    <h2 class="text-center">Education</h2>
    <div class="text">
      <h3>Donetsk National University named Vasyl Stus</h3>
      <p>Specialty Cybersecurity</p>

      <h3>HarvardX: CS50</h3>
      <p>CS50's Introduction to Computer Science</p>
    </div>
  </div>

</main>
