<main class="container main">

  <div class="about">
    <div class="text">
      <h2>About me</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <img src="../../assets/photo2.png" alt="" class="personalPhoto">
  </div>

  <h2 class="text-center">My skills</h2>

  <div class="mySkills">
    <div class="text_m">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, temporibus.
      </p>
    </div>
  </div>

  <h2 class="text-center">My Position</h2>

  <div class="myPosition">
    <div class="text_m">
      <p>I want to create a working relationship based on trust and mutual respect.
        <br> I distribute time and energy so as not to violate the deadlines.
        Independently solve the difficulties <br> encountered in the work.
        The quality standards of our work,
        but most of all I want to learn something new and develop.
      </p>
    </div>
  </div>

  <h2 class="text-center">Work Experience</h2>

  <div class="about">
    <div class="text">
      <h3>iOne - Apple authorized reseller.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <img src="../../assets/logo_black.svg" alt="iOne" class="photo_iOne">
  </div>

  <div class="education">
    <h2 class="text-center">Education</h2>
    <div class="text">
      <h3>Donetsk National University named Vasyl Stus</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      <h3>HarvardX: CS50</h3>
      <p>CS50's Introduction to Computer Science</p>
    </div>
  </div>

</main>
