<main class="container main">

  <div class="about">
    <div class="text">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <img src="../../assets/photo2.png" alt="" class="personalPhoto">
  </div>

  <div class="myPosition">
    <div class="text">
      <h2>My Position</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <img src="" alt="">
  </div>

  <div class="about">
    <div class="text">
        <h2>Work Experience</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <img src="../../assets/logo_black.svg" alt="iOne" class="photo_iOne">
  </div>  


</main>
