
main
    margin-top: 3%

.about
    display: flex
    justify-content: space-between
    margin-bottom: 50px


.personalPhoto
    height: 235px
    width: 200px
    box-shadow: 1px 9px 14px #000

.myPosition
    margin-bottom: 50px
    
.text_m
    text-align: center

.photo_iOne
    height: 235px
    width: 200px

.text-center
    display: flex
    justify-content: center