<main class="container">

    <div class="items">
        <div *ngFor='let project of projects; index as projectId'>
            <mat-card class="item">
                <mat-card-header>
                    <mat-card-title>
                    <h1>{{ project.title }}</h1>
                    </mat-card-title>
                    <mat-card-subtitle>{{ project.role }}</mat-card-subtitle>
                </mat-card-header>

                <a href="{{ project.link }}"><img mat-card-image src="{{ project.image }}" class="card-img"></a>

                <mat-card-content class="text-grid">
                    {{ project.content }}
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</main>
