

.items
    display: flex
    justify-content: space-between
    flex-direction: column
    margin-top: 3%

.item 
    margin-top: 50px 
    min-width: 300px
    max-height: 600px

.card-img
    width: auto
    max-height: 200px
