<form action="/" method="POST">
    <h2 mat-dialog-title>{{ data.name }}</h2>

    <mat-dialog-content>
        <div class="input">
            <label for="name">Name: </label>
            <input type="text" id="name" placeholder="Ivan Ivanov" [formControl]='nameControl'>

            <label for="email">Email: </label>
            <input type="email" id="email" placeholder="test@gmail.com" [formControl]='emailControl'>

            <label for="phone">Phone number: </label>
            <input type="text" placeholder="+38096-111-11-11" [formControl]='phoneControl'>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="btn-two">
        <button mat-button (click)="closeModal()" type="button">Close</button>
        <button mat-button type="submit">Send</button>
    </mat-dialog-actions>
</form>
